%section#feature_slider
  - backgrounds = %w(landscape.png aqua.jpg color-splash.jpg indigo.jpg)
  %article.slide{style: "background: url('#{image_path('backgrounds/'+cycle(*backgrounds))}') repeat-x top center;"}
    = image_tag 'logo.png', class: "asset left-472 sp600 t120 z3"
    .info
      %h2 Books for the funky web developer
  - @books.each do |book|
    %article.slide{style: "background: url('#{image_path('backgrounds/'+cycle(*backgrounds))}') repeat-x top center;"}
      = image_tag book.cover_image.url(:slider), class: "asset left-472 sp600 t120 z3"
      .info
        %h2= book.title
        %h3= book.sub_title
        = link_to 'MORE', book
