= render 'slides'

#portfolio
  .container
    .section_header
      %h3 Essential Books
    .row
      .span12
        #gallery_container
          - @books.each do |book|
            .photo
              = image_tag book.cover_image.url(:thumb)
              = link_to book, class: 'mask' do
                %h3= number_to_currency book.price
                %small= book.authors.map(&:name).join(', ')
                .more +
